h1 {
	font-family :  'Cantora One', sans-serif !important;
	color :  #583816 !important;
	margin-top : 4px !important;
	margin-bottom : 8px !important;
	font-weight : bold !important;
}
h1 {
	font-size : 28px !important;
}
h2 {
	font-size : 24px !important;
}
h2, h3, h4 {
	font-family :  'Cantora One', sans-serif !important;
	color :  #007700 !important;
	font-weight : normal !important;
	margin-top : 4px !important;
	margin-bottom : 8px !important;
}
a {
	color :  #007700 !important;
}
a.btn {
	color :  #333333 !important;
}
#footer {
	text-align : center;
	background : #F0D277;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	padding : 6px;
}
#footer a {
	color : #333;
}
pre {
	padding : 8px;
	background : white;
}
body {
	background : #FFE28B url("/img/bg.gif");
}
.sqlLog {
	margin-top : 24px;
	font-size : 10px;
	background : #AAA;
}
.contact {
	border : 2px solid #CCC;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	margin : 8px;
	padding : 8px;
	width : 250px;
	min-height : 100px;
}
.homeBlock {
	margin-bottom : 32px;
	background : #FFF;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	position : relative;
	padding : 8px;
}
.homeBlock .content {
	margin : 8px 8px 8px 90px;
}
span.panel-title {
	font-family :  'Cantora One', sans-serif !important;
	color :  #966125 !important;
	font-size : 20px !important;
	font-weight : normal !important;
}
.article {
	margin-bottom : 16px;
	background : #FFF;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	position : relative;
	padding : 8px;
}
.white {
	margin-bottom : 16px;
	background : #FFF;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	position : relative;
}
.block {
	margin-bottom : 32px;
	background : #F0D277;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	position : relative;
	padding : 8px;
}
.block2 {
	margin-bottom : 32px;
	background : #F0D277;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	position : relative;
	padding : 8px;
	border : 2px solid #C3A04C;
}
table.product {
	width : 100%;
	height : 115px;
	overflow : auto;
}
table.product td {
	padding : 8px;
}
table.product .desc {
	font-size : 90%;
	color : #666;
}
.product {
	width : 49%;
	display : inline-block;
	zoom : 1;
	*display : inline;
}
.product .name {
	padding-left : 8px;
}
.price {
	font-weight : bold;
	font-size : 130%;
}
.vat {
	color : #999999;
}
.overlay {
	position : absolute;
	width : 100%;
	height : 100%;
	top : 0;
	left : 0;
}
.overlay.background {
	background : #000;
	opacity : 0.5;
	filter : alpha(opacity=50);
	zoom : 1;
	width : 100%;
	height : 100%;
}
.overlayContent {
	width : 50%;
	margin : auto;
	margin-top : 150px;
}
.overlayContent .article {
	padding : 24px;
}
.cartDiv {
	margin-bottom : 16px;
	background : #007700;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	position : relative;
	padding : 8px;
	color : white;
}
.cartDiv h2 {
	color : white !important;
}
.cartDiv a.infos {
	margin-top : 8px;
	font-size : 12px;
	color : white !important;
	display : block;
}
.cartDiv #cart {
	margin-bottom : 12px;
}
.cartDiv #cart div.order {
	margin-bottom : 8px;
}
.cartDiv #cart div.order a {
	margin-right : 8px;
}
.cartDiv #cart div.total {
	font-size : 120%;
	margin-bottom : 12px;
	margin-top : 12px;
	border-top : 1px solid #FFF;
}
i {
	color : #008800;
}
.place {
	color : #666;
	font-weight : bold;
	margin-top : 13px;
	padding : 8px;
	font-size : 13px;
	background-color : #EEE;
	border-top : 1px solid #CCC;
}
.distribMessage {
	color : #FFF;
	font-weight : bold;
	padding : 4px;
	margin-top : 13px;
	font-size : 13px;
	background-color : #080;
}
.dateBox {
	display : block;
	position : absolute;
	top : -16px;
	left : -22px;
	border-radius : 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
	background-color : #B2823F;
	color : #FFF;
	font-size : 11px;
	line-height : 13px;
	font-weight : bold;
	text-align : center;
	vertical-align : middle;
	width : 90px;
	margin : 4px;
	padding : 4px;
}
.dateBox div {
	margin-top : 4px;
}
.dateBox a {
	color :  #FFFFFF !important;
}
.dateBox a:hover {
	color :  #FFFFFF !important;
}
span.tag {
	color : white;
	font-size : 80%;
	font-weight : bold;
	padding : 4px;
	background-color : #666666;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	line-height : 30px;
}
span.tag.active {
	padding : 12px;
	font-size : 16px;
	line-height : 45px;
}
